@use '@/styles/variables.scss' as *;

.questionWrapper {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 16px;

  > .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}