@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.topWrapper { 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 40px;
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0);
  background: linear-gradient(to right, #b92b27, #1565c0);

  > .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
  }

  > .start > .button {
    @include button
  }
}

@keyframes borderFocus {
  0% {
    border-bottom: 2px solid #d9e7fc;
  }

  100% {
    border-bottom: 2px solid #1565c0;
  }
}

@keyframes borderUnFocus {
  0% {
    border-bottom: 2px solid #1565c0;
  }

  100% {
    border-bottom: 2px solid #d9e7fc;
  }
}